<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Website</title>
</head> 
<body>
    {{!-- read partials/header file --}}
    {{> header}}

    {{!-- uppercase welocomeMessage --}}
    <p>{{screamIt welocomeMessage}}</p>

    {{!-- read partials/footer file --}}
    {{> footer}}
</body>
</html>